# this local environments are for experimental purposes which should be setup on your local machine with your own postgresSQL db
LOCAL_POSTGRESS_USER=""
LOCAL_POSTGRESS_PASSWORD=""
LOCAL_POSTGRESS_DATABASE=""
LOCAL_POSTGRESS_PORT=""

# I will create a cloud hosted postgresSQL db soon